.container{
    display: flex;
    color: blue;
}
.mobile{
    cursor: pointer;
}
.mobile :hover{
    color: chocolate;
    font-size: larger;
}
.deleteBtn{
    cursor: pointer;
    color: red;
}
   .deleteBtn :hover{ 
     color: chocolate;
    font-size: larger;
}

#studentTable tr:nth-child(even) {
  background-color: #cacac7; /* light grey */
}

#studentTable tr:nth-child(odd) {
  background-color: #e7e3e3; /* white */
}
th{
    color: darkblue;
}
#pic{
    cursor: pointer;

}
#pic :hover{
height: 100px;
}
#msg{
    font-size: 20px;
    color: blue;
}
.container-box{
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    margin-left: 500px;
    margin-right: 500px;
    background-color: rgb(147, 145, 143);
    color: rgb(8, 8, 9);
    
}
h1{
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 3px 4px rgb(200, 122, 231);
    font-size:70px ;
}
 button {
    padding: 10px 18px;
    margin: 8px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  #increaseBtn {
    background-color: #4CAF50;
    color: white;
    align-items: center;
  }
  
  #decreaseBtn {
    background-color: #f44336;
    color: white;
    align-items: center;
  }

  #resetBtn {
    background-color: #555;
    color: white;
    align-items: center;
  }

  button:hover {
    opacity: 0.8;
  }
 