form {
    width: 300px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 8px;
}
button {
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
}
#btn {
  margin-top: 10px;
  padding: 6px 12px;
  cursor: pointer;
}
/* ----- General Page Styling ----- */
body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background: #f2f2f2;
}


#studentForm, #editSection {
    background: white;
    padding: 20px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
    margin-bottom: 20px;
}

#studentForm input,
#editSection input {
    width: 95%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

#studentForm button,
#saveBtn {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

#studentForm button:hover,
#saveBtn:hover {
    background: #45a049;
}

/* ----- Table CSS ----- */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    box-shadow: 0px 0px 10px #ccc;
}

th {
    background: #4CAF50;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* ----- Buttons inside table ----- */
.editBtn, .deleteBtn {
    padding: 6px 10px;
    border: none;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.editBtn {
    background: #2196F3;
    color: white;
}

.deleteBtn {
    background: #f44336;
    color: white;
}

.editBtn:hover {
    background: #0b7dda;
}

.deleteBtn:hover {
    background: #d32f2f;
}

/* ----- Edit Section Header ----- */
#editSection h3 {
    margin-top: 0;
    text-align: center;
}